<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Discovery", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header >
      <div class="flex flex-row">
        <div class="flex px-8">
          <img src="<%= Routes.static_path(@conn, "/images/discovery.png") %>" alt="..." class=" m-auto h-20 w-20 rounded max-w-full h-auto align-middle border-none" />
        </div>
        <div >
          <p class="font-mono text-5xl font-bold p-8 text-indigo-900">Discovery</p>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
