apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: APP_NAME
  namespace: discovery 
  annotations:
    nginx.ingress.kubernetes.io/upstream-hash-by: "$uid"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
  - host: APP_NAME.minikube.com
    http:
      paths:
